# Rewrite non-existing pages to their .php version
RewriteEngine On
RewriteBase /ecommerce/

# Redirect all requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Redirect URLs ending with .php to the non-php version
RewriteCond %{THE_REQUEST} \s/([^.]*)\.php/?\s [NC]
RewriteRule ^  %1? [R=301,L]

